.dimDiv{
    border: 2px solid black;
    width: 200px;
    height: 200px;
}

.bgGreen{
    background-color: green;
}

.bgRed{
    background-color: crimson;
}

.dorderGreen{
    border: 2px solid green;
}

.borderRed{
    border: 2px solid red;
}